.portfolioSection__section--container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.portfolioSection__div--containerH2P {
  margin: 2rem 5rem;
}
.portfolioSection__div--img {
  max-width: 100%;
  height: auto;
}
.portfolio__img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .portfolioSection__section--container {
    flex-wrap: nowrap;
  }
}
