.navbar__container {
  display: flex;
  border: solid 3px black;
  max-height: 8rem;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
.navbar__img--logo {
  max-width: 8rem;
}
.navbar__div--logo {
  border: solid 3px blueviolet;
}
.navbar__div--menu {
  list-style-type: none;

  border: solid 3px blue;
  display: flex;
}
.navbar__ol--menuItem {
}
.navbar__div--contacto {
  border: solid 3px gray;
}
