:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* CSS HEX */
  --yellow: #fef200;
  --black: #231f20;
  --light-blue: #0aabea;
  --pink: #ed008c;
  --gray: #a8a9ad;
  --green: #014b38;
  --white: #ffffff;
}
